:root {
    /* color */
    --primary-color: #007CBD;
    --primary-text-color: #343434;
    --footer-text-color: #F6F6F6;
    --border-color: #E5E5E5;
    /* font family */
    --primary-font-family: Arial;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

main {
    background: #F2F2F2;
    min-height: calc(100vh - 420px);
}

.py-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.p-15 {
    padding: 15px;
}

.font-10 {
    font-size: 10px;
}

.font-12 {
    font-size: 12px;
}

.w-125 {
    width: 125% !important;
}

.w-150 {
    width: 150% !important;
}

@media (min-width: 992px) {
    .mb-md-50 {
        margin-bottom: 50px !important;
    }
}

[class^="icons-"],
[class*="icons-"] {
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    vertical-align: middle;
    background-size: 100px 100px !important;
}

.icons-calendar {
    background-position: -3px -6px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 6px;
}

.icons-pdf {
    background-position: -71px -59px;
    width: 24px;
    height: 25px;
    display: inline-block;
    margin-right: 6px;
}

.icons-calendar_black {
    background-position: -77px -4px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 8px;
}

.icons-download {
    font-size: 12px;
    background-position: -12px -67px;
    width: 14px;
    height: 15px;
    display: inline-block;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%, 0);
    border-color: #fff transparent transparent transparent;
    border-style: solid;
    border-width: 4px 3px 0 3px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b::before {
    border-color: transparent transparent #fff transparent;
    border-width: 0 3px 4px 3px;
    top: 1px;
}

.main-breadcrumb .breadcrumb {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--border-color);
}

.main-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    content: "";
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    display: inline-block;
    background-position: -27px -52px;
    height: 12px;
    width: 16px;
    line-height: 20px;
    vertical-align: middle;
    background-size: 100px 100px !important;
}

.main-breadcrumb .breadcrumb-item,
.main-breadcrumb .breadcrumb-item a {

    color: var(--primary-text-color);
    font: normal normal 14px/16px var(--primary-font-family);
}

.main-breadcrumb .breadcrumb-item:last-child,
.main-breadcrumb .breadcrumb-item:last-child a {
    color: var(--primary-color);
    font: normal normal 14px/16px var(--primary-font-family);
}


.section-title-primary {
    font: normal bold 21px/24px var(--primary-font-family);
    color: var(--primary-text-color);
    margin-bottom: 12px;
}

/* header */
.header {
    background: linear-gradient(270deg, #106D9E 0%, #FFFFFF 100%);
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.logo {
    display: inline-block;
    margin-bottom: 8px;
}

.header .id-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 90px;

}

.header .id-logo .logo {
    display: block;
    margin-right: 20px;
    z-index: 10;
}

.header .id-logo .logo img {
    max-height: 90px;
    width: auto;

}

.header .id-logo .id-title {
    z-index: 10;
}

.header .id-logo h6 {
    font: normal normal 14px/16px var(--primary-font-family);
    color: var(--primary-color);
    margin-bottom: 5px;
}

.header .id-logo h1 {
    font: normal bold 31px/36px var(--primary-font-family);
    color: var(--primary-color);
}

.header .bg::before {
    content: url(../img/mg2.png);
    position: absolute;
    right: -160px;
    bottom: -12px;
}

.header .bg::after {
    content: url(../img/mg1.png);
    position: absolute;
    right: 0;
    bottom: -13px;
}

.header .id-logo .id-menu-icon {
    margin-left: auto;
    z-index: 10;
    display: none;
}

.header .id-logo .id-menu-icon .bar {
    width: 30px;
    height: 0;
    border-bottom: 3px solid #fff;
    margin-bottom: 5px;
}

.menu {
    background: var(--primary-color);
    transition: .15s all ease-in;
    z-index: 100;
}

.menu .col-12 {
    padding: 0;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.menu ul li {
    position: relative;
}

.menu ul li a {
    display: block;
    font: normal normal 14px/16px var(--primary-font-family);
    color: #FFFFFF;
    padding: 14px 15px 10px 15px;
    text-transform: uppercase;
}

.menu ul li a:hover {
    background-color: #005e90;
}

.menu ul li a i.fa-chevron-down {
    font-size: 10px;
    float: right;
    margin-right: 1rem;
    margin-top: 3px;
}

.menu .submenu {
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #0c93da;
    width: 200px;
    transition: .25s all ease-in;
    z-index: 10;
}

.menu ul#navigation>li:hover .submenu,
.menu ul#navigation>li:focus .submenu {
    visibility: visible;
    opacity: 1;
    display: block;
}

.menu .submenu li a {
    text-transform: capitalize;
    padding: .5rem 1rem;
}

.menu .submenu li a:hover {
    background-color: #fff;
    color: #0c93da;
}

@media (max-width: 575.98px) {
    .id-logo .id-title {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {

    .id-logo .id-title h6,
    .id-logo .id-title h1 {
        color: #fff;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .id-logo .id-title h6,
    .id-logo .id-title h1 {
        color: #fff;
    }
}

@media (max-width: 991.98px) {
    .header .id-logo .id-menu-icon {
        display: block;
    }

    .menu {
        position: absolute;
        top: 110px;
        right: 0;
        width: 100vw;
        background: transparent;
        height: 0;
        opacity: 0;
        visibility: hidden;
    }

    .menu nav {
        background: var(--primary-color);
        box-shadow: 0 1px 3px 0px #000;
    }

    .menu.menu-opened {
        height: 215px;
        opacity: 1;
        visibility: visible;
    }

    .menu ul {
        display: block;
        width: 100%;
        padding: .65rem 0;
    }

    .menu ul li a {
        padding: .35rem 0;
        padding-left: 1rem;
    }

    .menu .submenu {
        position: relative;
        display: none;
        visibility: hidden;
        opacity: 0;
        top: 0;
        left: 0;
        transform: unset;
        background-color: transparent;
        padding: 0 1rem;
        margin: 0;
        width: 100%;
        transition: .25s all ease-in;
    }
}

/* end header */

/* trang chu */
/* .slide-area {
    margin-bottom: 10px;
} */

.news-carousel {
    margin-bottom: 20px;
}

.news-carousel,
.home-carousel {
    position: relative;
}

.news-carousel .owl-nav,
.home-carousel .owl-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-carousel .owl-nav button.owl-next,
.news-carousel .owl-nav button.owl-prev,
.home-carousel .owl-nav button.owl-next,
.home-carousel .owl-nav button.owl-prev {
    outline: none;
    padding: 13px 6px 18px 8px !important;
    background: rgba(52, 52, 52, 0.5);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.news-carousel  .owl-nav button.owl-prev,
.home-carousel .owl-nav button.owl-prev {
    left: 0;
}

.news-carousel  .owl-nav button.owl-next,
.home-carousel .owl-nav button.owl-next {
    right: 0;
}

.news-carousel .owl-nav button.owl-next span,
.news-carousel .owl-nav button.owl-prev span,
.home-carousel .owl-nav button.owl-next span,
.home-carousel .owl-nav button.owl-prev span {
    color: #fff;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    font-size: 32px;
}

.news-carousel .owl-nav button.owl-next:hover,
.news-carousel .owl-nav button.owl-next:focus,
.news-carousel .owl-nav button.owl-next:active,
.news-carousel .owl-nav button.owl-prev:hover,
.news-carousel .owl-nav button.owl-prev:focus,
.news-carousel .owl-nav button.owl-prev:active,
.home-carousel .owl-nav button.owl-next:hover,
.home-carousel .owl-nav button.owl-next:focus,
.home-carousel .owl-nav button.owl-next:active,
.home-carousel .owl-nav button.owl-prev:hover,
.home-carousel .owl-nav button.owl-prev:focus,
.home-carousel .owl-nav button.owl-prev:active {
    outline: none;
}

.news-carousel .item,
.home-carousel .item {
    position: relative;
    display: block;
}

.news-carousel .item img,
.home-carousel .item img {
    width: 100%;
    height: 380px;
    object-position: 50% 50%;
    object-fit: cover;
}

.news-carousel .item .item-title,
.home-carousel .item .item-title {
    position: absolute;
    width: 60%;
    bottom: 0;
    left: 0;
    padding: 11px 13px;
    background-color: rgba(20, 20, 20, 0.5);
    color: #fff;
}

.news-carousel .item .item-title .icons-calendar,
.home-carousel .item .item-title .icons-calendar {
    background-position: -3px -6px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 6px;
}

.news-carousel .item .item-title h5,
.home-carousel .item .item-title h5 {
    font: normal bold 18px/21px var(--primary-font-family);
    margin-bottom: 15px;
}

.news-carousel .item .item-title h6,
.home-carousel .item .item-title h6 {
    font: normal normal 14px/16px Roboto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.news-video-thumbnail {
    display: block;
    position: relative;
    margin-top: 12px;
    max-height: calc(calc(380px - 12px) / 2);
    overflow: hidden;
}

.news-video-thumbnail::before {
    content: "";
    position: absolute;
    width: 38px;
    height: 38px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: var(--primary-color);
    animation: 1s boxsha infinite;
}

.news-video-thumbnail:hover::before {
    content: "";
    background-color: #FA110D;
}

@keyframes boxsha {
    0% {
        box-shadow: 0 0 2px 4px rgba(255, 255, 255, 0.3);
    }

    50% {
        box-shadow: 0 0 2px 6px rgba(255, 255, 255, 0.6);
    }

    100% {
        box-shadow: 0 0 2px 4px rgba(255, 255, 255, 0.3);
    }
}

.news-video-thumbnail::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid #fff;
    border-top: 7px solid var(--primary-color);
    border-bottom: 7px solid var(--primary-color);
    top: 50%;
    left: calc(50% + 2px);
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.news-video-thumbnail:hover::after {
    content: "";
    border-top: 7px solid #FA110D;
    border-bottom: 7px solid #FA110D;
}

.news-video-thumbnail:first-child {
    margin-top: 0;
}

.news-video-thumbnail img {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.news-video-thumbnail .nvt-title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 40.63%, rgba(0, 0, 0, 0.9) 100%);
    z-index: 1;
    padding: 10px 15px;
}

.news-video-thumbnail .nvt-title h6 {
    color: #fff;
    font: normal bold 14px/16px var(--primary-font-family);
}

@media (min-width: 320px) and (max-width: 767.98px) {
    .news-video-thumbnail:first-child {
        margin-top: 12px;
    }

    .news-video-thumbnail {
        display: flex;
    }

    .news-video-thumbnail img {
        width: 35%;
    }

    .news-video-thumbnail .nvt-title {
        position: relative;
        width: 65%;
        color: #333;
        background: unset;
    }

    .news-video-thumbnail .nvt-title h6 {
        color: #333;
    }

    .news-video-thumbnail::before,
    .news-video-thumbnail::after {
        content: "";
        left: 18%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .news-carousel .item .item-title,
    .home-carousel .item .item-title {
        width: 75%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .news-video {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .news-video .news-video-thumbnail {
        margin-top: 15px;
        margin-bottom: 0;
    }
}

@media (max-width: 991.98px) {
    .news-carousel .item .item-title,
    .home-carousel .item .item-title {
        width: 100%;
    }
}

.main-section {
    padding-top: 1rem;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 10px;
}

.section-header::before {
    content: "";
    position: absolute;
    height: 0;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    bottom: 5px;
}

.section-header.no-link::before {
    border-bottom: unset;
}

.section-title {
    position: relative;
    font: normal bold 18px/21px var(--primary-font-family);
    color: var(--primary-text-color);
    padding-left: 10px;
    position: relative;
    text-transform: uppercase;
    background-color: #fff;
    padding-right: 8px;
}

.section-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 0;
    border-left: 4px solid var(--primary-color);
}

.section-header a {
    font: normal normal 14px/16px var(--primary-font-family);
    color: var(--primary-color);
    z-index: 1;
    background-color: #fff;
    padding-left: 8px;
}

.section-body {
    margin-bottom: 30px;
}

.section-body .juridical-label {
    font: normal bold 16px/18px var(--primary-font-family);
    color: var(--primary-text-color);
    margin-bottom: 6px;
}

/* ul.nav {
    white-space: nowrap;
    overflow-x: auto;
}

ul.nav li {
    display: inline-block;
    float: none;
} */

#statisticalTab {
    border-bottom: unset;
    margin-bottom: 10px;
    white-space: nowrap;
    width: 100%;
}

#statisticalTab .nav-item {
    display: inline-block;
    float: none;
}

#statisticalTab .nav-item .nav-link {
    border: unset;
    border-radius: 0;
    color: var(--primary-text-color);
    font: normal normal 14px/16px var(--primary-font-family);
    text-transform: uppercase;
    padding: .5rem .5rem;
}

#statisticalTab .nav-item .nav-link.active {
    color: var(--primary-color);
}

.statistical .section-body {
    margin-bottom: 1rem;
}

.news .newest-news.newest-news_block {
    margin-bottom: .5rem;
}

.news .newest-news.newest-news_block .excerpt{
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    height: 112px;
    font: normal normal 14px/16px var(--primary-font-family);
    text-align: justify;
    color: var(--primary-text-color);
    margin-bottom: 8px;
}

.news .newest-news.newest-news_block,
.news .newest-news.newest-news_block a {
    display: block;
    overflow: hidden;
    position: relative;
}

.news .newest-news.newest-news_block::after {
    content: "";
    position: absolute;
    height: 0;
    width: calc(100% - 30px);
    left: 15px;
    bottom: 0;
    border-bottom: 1px solid var(--border-color);
}

.news .newest-news.newest-news_block img {
    width: 100%;
    min-height: 248px;
    object-position: 50% 50%;
    object-fit: cover;
    transition: .5s all ease-in;
}

.news .newest-news.newest-news_block h4 {
    font: normal bold 16px/18px var(--primary-font-family);
    color: var(--primary-text-color);
    margin: 10px 0;
}

.news .newest-news.newest-news_block p {
    font: normal normal 14px/16px var(--primary-font-family);
    color: var(--primary-text-color);
    margin-bottom: 12px;
}

.news .newest-news.newest-news_block p .icons-calendar_black {
    background-position: -77px -4px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 8px;
}

.news .newest-news {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.news .newest-news::after {
    content: "";
    position: absolute;
    height: 0;
    width: calc(100% - 30px);
    left: 15px;
    bottom: 0;
    border-bottom: 1px solid var(--border-color);
}

.news .newest-news:nth-child(9)::after,
.news .newest-news:nth-child(10)::after {
    content: "";
    border-bottom: unset;
}

.news .newest-news.newest-news_flex a {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.news .newest-news.newest-news_flex a img {
    width: 36%;
    height: auto;
    max-height: 86px;
}

.news .newest-news.newest-news_flex a h4 {
    margin-left: 15px;
    font: normal bold 14px/16px var(--primary-font-family);
    color: var(--primary-text-color);
    min-height: 65px;
}

.news .newest-news.newest-news_flex a p {
    margin-left: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--primary-text-color);
}

.news.common-news .newest-news.newest-news_block {
    margin-bottom: 0;
    padding-bottom: 0;
}

.news.common-news .newest-news.newest-news_block::after {
    border-bottom: unset;
}

.juridical-form {
    display: flex;
    border: 1px solid #DFDCDC;
    margin-bottom: 14px;
}

.juridical-form .input-container {
    padding: 4px 0;
    display: flex;
    width: 100%;
}

.juridical-form .juridical-form-control {
    border-radius: unset;
    border: unset;
    outline: none;
    width: 100%;
    border-right: 1px solid #DFDCDC;
    font: normal normal 14px/16px var(--primary-font-family);
}

.juridical-form .juridical-form-control:last-child {
    border-right: unset;
}

.juridical-form .juridical-form-control::placeholder,
.juridical-form .juridical-form-control::-moz-placeholder,
.juridical-form .juridical-form-control::-webkit-input-placeholder,
.juridical-form .juridical-form-control option.placeholder {
    color: #A7A9AC;
    font: normal normal 14px/16px var(--primary-font-family);
}

.juridical-form a[type="submit"] {
    display: inline-flex;
    border-radius: 0;
    justify-content: center;
    align-items: center;
    font: normal normal 14px/16px var(--primary-font-family);
    color: #fff;
    padding: .563rem .75rem;
    white-space: nowrap;
}

.juridical-form .input-container .select2 {
    width: 100% !important;
    outline: none;
}

.juridical-form .input-container .select2 .select2-selection {
    border: unset;
    border-right: 1px solid #DFDCDC;
    border-radius: unset;
    outline: none;
}

.juridical-form .input-container input.juridical-form-control {
    padding-left: 5px;
}

.juridical-form a[type="submit"] i.icons-search {
    font-size: 12px;
    margin-right: .5rem;
    background-position: -52px -7px;
    width: 19px;
    height: 16px;
    display: inline-block;
}

.select2-dropdown {
    margin-top: 12px;
    border-top: 1px solid #C4C4C4 !important;
    border-radius: unset;
    border: 1px solid #C4C4C4 !important;
    outline: none;
}

.select2-results {
    display: block;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.section-header-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: var(--primary-color);
    padding: 15px 0;
}

.section-header-secondary h4 {
    margin-left: 15px;
    font: normal bold 16px/18px var(--primary-font-family);
    text-transform: uppercase;
}

.section-body-secondary {
    padding: 0 .75rem;
    margin-bottom: 1rem;
    background-color: #fff;
}

.table .thead-primary {
    background: var(--primary-color);
}

.table th {
    font: normal bold 14px/16px var(--primary-font-family);
    color: #fff;
    text-align: center;
    white-space: nowrap;
    border-top: unset;
}

.table td {
    font: normal normal 14px/16px var(--primary-font-family);
    color: var(--primary-text-color);
    border-top: unset;
}

.table .icons-search {
    font-size: 12px;
    margin-right: .8rem;
    background-position: -28px -4px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.table .icons-download {
    font-size: 12px;
    background-position: -10px -64px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.catalog-table thead th,
.juridical-table thead th {
    border-bottom: unset;
}

.catalog-table thead th:last-child {
    width: 40px;
}

.juridical-table tr {
    border-top: 1px solid var(--border-color);
}

.juridical-table tr:first-child {
    border-top: unset;
}

.juridical-table td:first-child {
    font: normal normal 14px/16px var(--primary-font-family);
    color: var(--primary-text-color);
    white-space: nowrap;
}

.catalog .section-body {
    margin-bottom: 15px;
}

.table-container {
    overflow: auto;
    max-height: 800px;
} 

.table-container::-webkit-scrollbar {
    width: 10px;
}

.table-container::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    max-height: 50px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
    max-height: 50px;
}

/* .catalog-table {
    overflow-y: auto;
    height: 50vh;
} */

.catalog-table thead th {
    text-align: left;
    font-weight: normal;
}

.statistical-carousel .item .img-container,
.catalog-carousel .item .img-container {
    min-height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 50%;
}

.statistical-carousel .item .img-container {
    padding: 5px;
    border: 1px solid var(--border-color);
    overflow: hidden;
    min-height: 163px;
}

.statistical-carousel .item .img-container img,
.catalog-carousel .item .img-container img {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 50%;
}

.statistical-carousel .item h6,
.catalog-carousel .item h6 {
    font: normal normal 14px/16px var(--primary-font-family);
    margin: 12px 0;
    text-align: center;
    color: var(--primary-text-color);
}

.catalog-carousel .owl-nav .owl-prev,
.catalog-carousel .owl-nav .owl-next {
    outline: none;
    border-radius: unset;
}

.catalog-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 35%;
    transform: translate(0, -50%);
}

.catalog-carousel .owl-nav .owl-next {
    position: absolute;
    top: 35%;
    right: 0;
    transform: translate(0, -50%);
}

.catalog-carousel .owl-nav .owl-prev span,
.catalog-carousel .owl-nav .owl-next span {
    font-size: 40px !important;
    color: #fff !important;
    padding: 2px 6px 10px 6px !important;
    background-color: rgba(0, 132, 13, 0.5) !important;
}

.catalog-carousel .owl-dots,
.statistical-carousel .owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.statistical-carousel .owl-dots .owl-dot,
.catalog-carousel .owl-dots .owl-dot {
    background-color: #fff;
    border: 1px solid #C4C4C4;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin: 0 5px;
    outline: none;
}

.statistical-carousel .owl-dots .owl-dot.active,
.catalog-carousel .owl-dots .owl-dot.active {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.noti-content,
.link-content,
.ac-content,
.catalog-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 11px 0;
    border-bottom: 1px solid var(--border-color);
    font: normal normal 14px/16px var(--primary-font-family);
    color: var(--primary-text-color);
}

.noti-content:hover {
    color: var(--primary-text-color);
}

.noti-content:hover img {
    transform: rotate(-10deg);
}

.noti-content img {
    margin-right: 8px;
}

.noti-content p {
    margin-right: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.catalog-content,
.link-content {
    align-items: center;
}

.catalog-content:last-child,
.link-content:last-child {
    border-bottom: unset;
}

.catalog-content i,
.link-content i {
    color: var(--primary-color);
}

.catalog-content h6,
.link-content h6 {
    align-items: center;
    margin-left: 1rem;
    font: normal bold 14px/16px var(--primary-font-family);
}

.catalog-content h6 {
    font-weight: normal;
}

.catalog-content:hover h6,
.catalog-content.active h6 {
    font-weight: bold;
    color: var(--primary-color);
}

.ac-content:first-child {
    display: block;
}

.ac-content img {
    margin: 0 50px;
}

.access-times .times {
    font: normal bold 24px/28px var(--primary-font-family);
    color: var(--primary-text-color);
}

.access-times .times.times-red {
    font: normal bold 24px/28px var(--primary-font-family);
    color: #FA110D;
}

.banner .right-banner {
    margin-bottom: 8px;
    overflow: hidden;
}

.banner .right-banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%;
}

@media (min-width: 992px) {

    .notification,
    .all-link,
    .access-times,
    .banner,
    .catalogs {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .ac-content img {
        margin: 0 30px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .right {
        display: flex;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .notification,
    .access-times {
        padding-left: 0;
    }

    .all-link,
    .banner {
        padding-left: 0;
        padding-right: 0;
    }

    .banner .right-banner {
        max-height: 81px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .news .newest-news.newest-news_block img {
        min-height: 153px;
    }

    .news .newest-news.newest-news_flex a h4 {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .ac-content img {
        margin: 0 10px;
    }

    .right {
        display: flex;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .catalogs {
        padding-left: 0;
        padding-right: 0;
    }

    .ac-content img {
        margin: 0 30px;
    }

    .notification,
    .all-link {
        padding-left: 0;
        padding-right: 0;
    }

    .access-times {
        padding-left: 0;
    }

    .banner {
        padding-right: 0;
    }
}

@media (max-width: 575.98px) {
    .juridical-table td:first-child {
        white-space: normal;
    }
}
/* end trang chu */

/* gioi thieu */
.section-about h3 {
    font: normal bold 21px/24px var(--primary-font-family);
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.section-about .published_at {
    font: normal normal 14px/16px var(--primary-font-family);
    color: var(--primary-text-color);
}

.about {
    margin-top: 20px;
}

.about .about-header {
    text-align: center;
    font: normal bold 16px/18px var(--primary-font-family);
    color: var(--primary-text-color);
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.about .about-header h4 {
    text-align: center;
    font: normal bold 18px/21px var(--primary-font-family);
    color: var(--primary-text-color);
    margin-bottom: 5px;
}

.about .about-header h5 {
    margin-bottom: 5px;
}

.about .about-header::after {
    content: "";
    position: absolute;
    width: 96px;
    height: 0;
    border-bottom: 1px solid var(--primary-text-color);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.about .about-body {
    font: normal normal 14px/16px var(--primary-font-family);
    text-align: left;
    color: var(--primary-text-color);
}

.about .about-body em {
    display: block;
    font-style: italic;
    margin-bottom: 3px;
}

.about .about-body h1,
.about .about-body h2,
.about .about-body h3,
.about .about-body h4,
.about .about-body h5,
.about .about-body h6 {
    font-weight: bold;
    margin-bottom: 16px;
}

.about .about-body p {
    margin-bottom: 16px;
}

/* end gioi thieu */

/* co so du lieu thong ke */
.section-statistical .section-title-primary {
    margin-bottom: 15px;
}

.section-statistical .section-body {
    font: normal normal 14px/16px var(--primary-font-family);
    color: var(--primary-text-color);
}

.section-statistical .section-body p {
    margin-bottom: 15px;
}

.app-sidebar {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}

.app-sidebar .sidebar-item {
    margin-bottom: 8px;
}

.app-sidebar .sidebar-item h4 {
    font: normal bold 16px/18px var(--primary-font-family);
    text-transform: uppercase;
}

.app-sidebar .sidebar-header.opened {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font: normal bold 16px/18px var(--primary-font-family);
    color: #fff;
    background: var(--primary-color);
    padding: 15px 10px;
}

.app-sidebar .sidebar-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font: normal bold 16px/18px var(--primary-font-family);
    color: var(--primary-color);
    background: #fff;
    padding: 15px 10px;
}

.app-sidebar .sidebar-header [class^="fa-chevron-"],
[class*="fa-chevron-"] {
    font-size: 12px;
}

.app-sidebar .sidebar-body {
    background-color: #fff;
    padding: 0 10px;
}

.app-sidebar .sidebar-body .sidebar-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 0;
    border-bottom: 1px solid var(--border-color);
    font-family: Arial;
    font: normal normal 14px/16px var(--primary-font-family);
    color: var(--primary-text-color);
}

.app-sidebar .sidebar-body .sidebar-content.active p {
    color: var(--primary-color);
    font-weight: bold;
}

.app-sidebar .sidebar-body .sidebar-content:last-child {
    border-bottom: unset;
}

.app-sidebar .sidebar-body .sidebar-content i {
    margin-right: 10px;
    color: var(--primary-color);
}

.section-statistical-detail-2 .table .thead-gray,
.section-statistical-detail .table .thead-gray {
    background: var(--border-color);
    color: #343434;
}

.section-statistical-detail-2 .table .thead-gray th,
.section-statistical-detail .table .thead-gray th {
    color: #343434;
    text-align: left;
}

.section-statistical-detail .table .thead-gray th:last-child {
    max-width: 60px;
    text-align: center;
}

.section-statistical-detail-2 .table td a,
.section-statistical-detail .table td a {
    color: var(--primary-text-color);
}

.section-statistical-detail-2 .table td a.d-flex {
    color: var(--primary-color);
}

.section-statistical-detail .table td:last-child {
    max-width: 60px;
    text-align: center;
}

.section-statistical-detail .table td:last-child .icons-search {
    margin-right: unset;
}

.section-statistical-detail-2 .table tbody tr,
.section-statistical-detail .table tbody tr {
    border-bottom: 1px solid var(--border-color);
}

.section-statistical-detail-2 .table tbody tr:last-child,
.section-statistical-detail .table tbody tr:last-child {
    border-bottom: unset;
}

.app-pagination {
    margin-bottom: 1rem;
}

.app-pagination .pagination {
    justify-content: center;
    align-items: center;
}

.app-pagination .pagination .page-item {
    margin: 0 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-pagination .pagination .page-item.active .page-link {
    background: var(--primary-color);
    color: #fff;
    font-weight: bold;
}

.app-pagination .pagination .page-link {
    font: normal normal 14px/17px var(--primary-font-family);
    text-align: center;
    color: var(--primary-text-color);
    border: unset;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    padding: .5rem;
    background: var(--border-color);
}

.app-pagination .pagination .page-link span {
    margin: auto;
}

.chart-section .app-chart {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.chart-section .app-chart img{
    width: 100%;
    height: auto;
}

.chart-section .chart-note {
    font: normal normal 14px/16px Arial;
}

.chart-section .chart-note .chart-note-title {
    color: #FD0000;
}

.chart-section .chart-note em {
    display: block;
    font-style: italic;
    margin-bottom: 3px;
}
/* end co so du lieu thong ke */

.notification .section-body-secondary a:last-child {
    font: normal normal 14px/16px var(--primary-font-family);
}

/* an pham thong ke */
.section-catagories .row,
.section-publications .row {
    margin-right: -10px;
    margin-left: -10px;
}

.catagory,
.publication {
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.catagory .img-container,
.publication .img-container {
    max-height: 155px;
    margin-bottom: .5rem;
    overflow: hidden;
}

.catagory .img-container img,
.publication .img-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%;
}

.catagory h6,
.publication h6 {
    font: normal normal 15px/17px var(--primary-font-family);
    color: var(--primary-text-color);
    margin-bottom: .25rem;
}

.catagory h6 {
    text-align: center;
}

.publication .d-flex {
    justify-content: flex-start;
    align-items: center;
    font: normal normal 14px/16px var(--primary-font-family);
    color: var(--primary-text-color);
}

.publication .d-flex span:first-child,
.publication .d-flex a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.section-publications .app-pagination {
    margin-top: 10px;
    margin-bottom: 1.4rem;
}

.chart-title {
    margin-top: 10px;
    font: normal bold 14px/16px var(--primary-font-family);
    color: var(--primary-text-color);
    text-align: center;
}
/* end an pham thong ke */

/* tin tuc */
.news:last-child .section-body {
    margin-bottom: 10px;
}

.video-news .row {
    margin-right: -10px;
    margin-left: -10px;
}

.single-news {
    padding: 0 10px;
}

.single-news .news-video-thumbnail {
    max-height: unset;
}

.single-news .news-video-thumbnail .nvt-title {
    position: relative;
    background: unset;
    color: var(--primary-text-color);
    padding: 0;
}

.single-news .news-video-thumbnail .nvt-title h6 {
    color: var(--primary-text-color);
    margin-top: 8px;
}

.single-news .news-video-thumbnail img {
    width: 100%;
    height: auto;
}

.single-news .news-video-thumbnail::before {
    top: 40%;
}

.single-news .news-video-thumbnail::after {
    top: 40%;
}

.single-news .news-video-thumbnail p {
    color: var(--primary-text-color);
    margin-top: 10px;
}

.video-news .app-pagination {
    margin: 20px 0;
}

.video-news .single-news {
    margin-bottom: 20px;
}

.video-news .section-body {
    margin-bottom: 10px;
}

.news-body-content {
    font: normal normal 14px/16px var(--primary-font-family);
    color: var(--primary-text-color);
    margin-top: .5rem;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 15px;
}

@media (min-width: 320px) and (max-width: 767.98px) {
    .video-news .single-news {
        margin-bottom: 10px;
    }

    .single-news a:first-child{
        margin-top: 0;
    }


    .single-news .news-video-thumbnail img {
        width: 35%;
    }

    .single-news .news-video-thumbnail::before,
    .single-news .news-video-thumbnail::after {
        top: 50%
    }

    .single-news .news-video-thumbnail .nvt-title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 15px;
    }
}

.news-share {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
}

.news-share span {
    font: normal normal 14px/16px var(--primary-font-family);
    color: var(--primary-text-color-);
}

.news-share a{
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #fff;
}

.news-share a.fa-facebook-f{
    background-color: #134B88;
}

.news-share a.fa-google{
    background-color: #FF4A58;
}

.news-share a.fa-envelope{
    background-color: #FFA013;
}
/* end tin tuc */

/* footer */
.footer {
    background-image: url(../img/fbg.png);
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    color: var(--footer-text-color);
    padding-top: 20px;
}

.footer h4 {
    font: normal bold 16px/18px var(--primary-font-family);
    color: #fff;
    margin-bottom: .5rem;
}

.footer h6 {
    font: normal normal 14px/16px var(--primary-font-family);
    color: var(--footer-text-color);
    margin-bottom: 3px;
}

.footer h6 strong {
    font-weight: bold;
}

.footer-note {
    font: normal normal 12px/14px var(--primary-font-family);
    color: var(--footer-text-color);
    padding: 12px;
    text-align: center;
    border-top: 1px solid rgba(229, 229, 229, 0.3);
}
/* end footer */